* {
  box-sizing: border-box;
}

.createPost {
  // background-color: red;
  margin: auto;
  max-width: 500px;
  // overflow: auto;

  input {
    text-align: start;
  }

  .browseInput {
    // display: flex;
    max-width: 100%;
    overflow: auto;
    // margin: 0 2rem;
    
    // text-overflow: ellipsis;
    // background-color: green;
    // display: flex;
  }
}