* {
  box-sizing: border-box;
}

.header div {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;

  .logo {
    box-shadow: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: none;
    height: 50px;
  }

  img {
    background-color: white;
    transition: 0.2s ease background-color;
  }

  img:hover {
    background-color: aqua;
    cursor: pointer;
  }

}

.dropdownHidden {
  display: none;
}

.unvisible {
  

  a {
    visibility: hidden;
    background-color: rgba($color: #000000, $alpha: 0.0);
    color: rgba($color: #000000, $alpha: 0.0);
    transition: background-color 0.5s ease, color 0.5s, visibility 0.5s;
  }

  button {
    border: none;
    visibility: hidden;
    background-color: rgba($color: #000000, $alpha: 0.0);
    color: rgba($color: #000000, $alpha: 0.0);
    transition: background-color 0.5s ease, color 0.5s, visibility 0.5s;
  }
}

.visible {

  a {
    visibility: visible;
    background-color: black;
    transition: background-color 0.5s ease, color 0.5s, visibility 0.5s;
  }

  button {
    border: none;
    visibility: visible;
    background-color: black;
    transition: background-color 0.5s ease, color 0.5s, visibility 0.5s;
  }
}

.profile {
  background-color: black;
  border-radius: 0;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  top: 50px;
  width: 120px;
}

.profile:hover {
  color: aqua;
}

.logout {
  background-color: black;
  border-radius: 0;
  box-shadow: none;
  color: white;
  font-size: 1rem;
  margin: 0;
  position: fixed;
  right: 0;
  top: 93px;
  width: 120px;
}

.logout:hover {
  color: red;
  cursor: pointer;
}

