* {
  font-family: 'Roboto Mono', monospace;
  /* letter-spacing: 0.1rem; */
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  background-color: black;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: aqua;
}